# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
.env
.venv/

# Frontend (nếu sau này có dùng Node.js/npm)
node_modules/
dist/
build/
.npm/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
