DB_ENGINE=django.db.backends.mysql
DB_NAME=ecommerce_hoanthom
DB_USER=ecommerce_app
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306

SECRET_KEY=secret-key
JWT_SECRET_KEY=jwt-secret-key

DEBUG=False

DJANGO_ALLOWED_HOSTS=YOUR_SERVER_IP,localhost,127.0.0.1

JWT_COOKIE_SECURE=False
